@model HashSet<string>

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type="text" name="value"/>
    <input type="number" name="score"/>
    <button type="submit">Save</button>
</form>

@foreach (var item in Model)
{
    <h2>@item 
        <a asp-controller="SortedSetType" 
           asp-action="Remove" 
           asp-route-name="@item">Delete</a></h2>
}