@model Dictionary<string, string>

<form method="post" asp-action = "Add" enctype="application/x-www-form-urlencoded">
    <input type="text" name="name"/>
    <input type="text" name="value"/>
    <button type="submit">Save</button>
</form>

@foreach (var item in Model)
{
    <h2>
        @item.Key -> @item.Value <a asp-action = "Remove" asp-route-name="@item.Key">Remove</a>
    </h2>
}